<h2>About</h2>
<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia necessitatibus nam praesentium vero voluptate animi, quo perspiciatis ex cum beatae asperiores excepturi accusantium molestias vitae modi numquam iste velit sed!</p>
    </div>
</div>