<div class="jumbotron mt-4" >
    <h1>Notes</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatem reiciendis </p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis sit earum eum hic ut blanditiis molestias ea, laborum aspernatur quo in recusandae itaque veniam dolorum, quae soluta corporis voluptatem? Ipsa.</p>
</div>